@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Car shop</h1>
    <div class="d-grid">
        <button class="btn btn-primary mt-4" onclick="window.location = '/owners'">See all owners</button>
        <button class="btn btn-primary mt-4" onclick="window.location = '/vehicles'">See all vehicles</button>
        <button class="btn btn-primary mt-4" onclick="window.location = '/claims'">See all claims</button>
    </div>
</div>
